.msj-it {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-radius: 1em;
    background-color: #172573;
    color: #9f9cf4;
    border: none;
    transition: transform 0.5s ease, color 0.5 ease, background-color 0.5 ease;
}

.msj-it:hover {
    color: white;
    background-color: #32429f;
    transform: scale(1.03);
    cursor: pointer;
}

.msj-it-fieldset {
    margin: 0.05em;
    display: inline-block;
    white-space: nowrap;
    font-size:0.9em;
    line-height:30px;
    font-weight:500;
}

.msj-it-fieldset--completed {
    text-decoration:line-through;
}

.Icon{
    cursor:pointer;
    margin-right: 0.1em;
    margin-left: 0.4em;
}

.Icon-check{
    color:#b0a7b0;
    transition: transform 0.5s ease;
}

.Icon-check:hover{
    color:#c188c1;
    transform: scale(1.15);
} 

.Icon-check--active{
    color:#F07EF2;
}

.Icon-delete{
    padding-right: 3px;
}

.Icon-delete:hover{
    color: #010326
}

