.btn-c {
    background: linear-gradient(to bottom right, #F07EF2, #ffd9f79a);
    color: white;
    border: none;
    border-radius: 1em;
    transition: background-color 0.5s ease, color 0.3s ease;
}

.btn-c:hover {
    background: linear-gradient(to bottom right, #ffd9f79a, #ee57f1);
    color: rgb(250, 217, 247);
}